# Configuration file

debughelpers {
    B:"Dump BIOME ID's in log"=true
    B:"Dump ENCHANT ID's in log"=true
    B:"Dump POTION ID's in log"=true
    B:"Dump Recipe Conflicts in log when server starts"=false
    B:enableChat=false
    B:enableConsole=false
}


environment {
    B:unsupportedLogging=false
}


