# Configuration file

##########################################################################################################
# stats
#--------------------------------------------------------------------------------------------------------#
# This category are markers for some statistics taken by iChunUtil. You can opt out from this in one of the config properties.
##########################################################################################################

stats {
    # Don't change this.
    S:statsData=@%Ua~k}FJ6b1<T]qD ;]

    # Don't change this.
    S:statsIdentifier=,KV8]2|pz9wx=@gP8m}<

    # Opt out of iChunUtil's stat collection
    # No personal info is taken from you.
    # But if you want to opt out, this is the config to change.
    # 
    # Min: 0
    # Max: 1
    I:statsOptOut=0
}


