# Configuration file

ids {
    I:"1 Up"=81
    I:Blink=82
    I:"Elemental Affinity"=83
    I:"Fall Resistance"=84
    I:Leapfrog=85
    I:"Never Hungry"=86
    I:Paraglide=87
    I:Reaper=88
    I:Restoration=89
    I:"Sonic the Hedgehog"=90
    I:Spiderman=91
    I:"Step Up"=92
    I:Superman=93
    I:"The One Ring"=94
}


jewelry {
    B:"Enable Non-Fish Breeding Recipe for Celestial Mirror"=true
    B:"Enable Singleplayer Jewelry Offline Mode"=false
    B:"Jewelry Drops on Death"=false
}


tweaks {
    I:"Blink > Milliseconds between Blinks"=0
    I:"Blink > Ray Trace Distance"=2000
    B:"Disable Pearls in Vanilla Anvil"=false
    B:"Enable Books being applied to Jewelry"=false
    D:"Leapfrog > Jump Factor"=0.15
    I:"Leapfrog > Jumps per Damage"=10
    I:"Restoration - Ticks between Repair"=100
    D:"Sonic the Hedgehog > Speed Factor"=0.025
    I:"Sonic the Hedgehog > Ticks per Damage"=1200
}


