# Configuration file

appliedenergistics2 {

    item_toolnetherquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzwrench {
        I:wrench=0
    }

    item_toolcertusquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzaxe {
        I:axe=3
    }

    item_toolnetherquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetherquartzspade {
        I:shovel=3
    }

    item_toolcertusquartzpickaxe {
        I:pickaxe=3
    }

    item_toolnetworktool {
        I:wrench=0
    }

}


awwayoftime {

    boundaxe {
        I:axe=0
    }

    boundshovel {
        I:shovel=0
    }

    boundpickaxe {
        I:pickaxe=0
    }

}


biomesoplenty {

    shovelamethyst {
        I:shovel=6
    }

    pickaxeamethyst {
        I:pickaxe=6
    }

    pickaxemud {
        I:pickaxe=6
    }

    axeamethyst {
        I:axe=6
    }

    shovelmud {
        I:shovel=6
    }

    axemud {
        I:axe=6
    }

}


botania {

    terraaxe {
        I:axe=6
    }

    manasteelshovel {
        I:shovel=5
    }

    glasspick {
        I:pickaxe=0
    }

    manasteelaxe {
        I:axe=5
    }

    terrapick {
        I:pickaxe=6
    }

    manasteelpick {
        I:pickaxe=5
    }

    elementiumpick {
        I:pickaxe=5
    }

    elementiumaxe {
        I:axe=5
    }

    elementiumshovel {
        I:shovel=5
    }

}


"buildcraft|core" {

    wrenchitem {
        I:wrench=0
    }

}


enderio {

    item_darksteel_axe {
        I:axe=7
    }

    item_darksteel_pickaxe {
        I:pickaxe=7
    }

}


extrautilities {

    destructionpickaxe {
        I:pickaxe=5
    }

    defoliageaxe {
        I:axe=5
    }

    erosionshovel {
        I:shovel=5
    }

}


forestry {

    bronzepickaxe {
        I:pickaxe=5
    }

    scoop {
        I:scoop=5
    }

    bronzeshovel {
        I:shovel=5
    }

    wrench {
        I:wrench=0
    }

}


galacticraftcore {

    item_steel_shovel {
        I:shovel=6
    }

    item_steel_pickaxe {
        I:pickaxe=6
    }

    item_steel_axe {
        I:axe=6
    }

}


galacticraftmars {

    item_deshspade {
        I:shovel=6
    }

    item_titanium_shovel {
        I:shovel=5
    }

    item_deshpickslime {
        I:pickaxe=6
    }

    item_deshpick {
        I:pickaxe=6
    }

    item_titanium_pickaxe {
        I:pickaxe=5
    }

    item_deshaxe {
        I:axe=6
    }

    item_titanium_axe {
        I:axe=5
    }

}


ic2 {

    itemnanosaber {
        I:sword=5
    }

    itemtoolbronzepickaxe {
        I:pickaxe=3
    }

    itemtoolbronzespade {
        I:shovel=3
    }

    itemtooldrill {
        I:pickaxe=3
        I:shovel=3
    }

    itemtoolddrill {
        I:pickaxe=5
        I:shovel=5
    }

    itemtooliridiumdrill {
        I:pickaxe=102
        I:shovel=102
    }

    itemtoolchainsaw {
        I:axe=3
        I:shears=3
        I:sword=3
    }

    itemtoolbronzeaxe {
        I:axe=3
    }

}


immersiveengineering {

    tool {
        I:IE_HAMMER=2
    }

}


magicbees {

    item_thaumiumscoop {
        I:scoop=5
    }

    item_manasteelscoop {
        I:scoop=5
    }

    item_manasteelgrafter {
        I:grafter=5
    }

    item_thaumiumgrafter {
        I:grafter=5
    }

}


mariculture {

    hammer {
        I:pickaxe=0
    }

}


minecraft {

    wooden_shovel {
        I:shovel=0
    }

    wooden_axe {
        I:axe=0
    }

    golden_axe {
        I:axe=0
    }

    wooden_pickaxe {
        I:pickaxe=0
    }

    diamond_shovel {
        I:shovel=5
    }

    diamond_pickaxe {
        I:pickaxe=5
    }

    stone_axe {
        I:axe=0
    }

    golden_pickaxe {
        I:pickaxe=0
    }

    iron_pickaxe {
        I:pickaxe=3
    }

    stone_shovel {
        I:shovel=0
    }

    iron_shovel {
        I:shovel=3
    }

    iron_axe {
        I:axe=3
    }

    golden_shovel {
        I:shovel=0
    }

    stone_pickaxe {
        I:pickaxe=0
    }

    diamond_axe {
        I:axe=5
    }

}


minefactoryreloaded {

    hammer {
        I:wrench=0
    }

}


railcraft {

    tool_crowbar_magic {
        I:crowbar=0
    }

    tool_steel_shovel {
        I:shovel=3
    }

    tool_steel_pickaxe {
        I:pickaxe=3
    }

    tool_crowbar {
        I:crowbar=0
    }

    tool_crowbar_reinforced {
        I:crowbar=0
    }

    tool_crowbar_void {
        I:crowbar=0
    }

    tool_steel_axe {
        I:axe=3
    }

}


tconstruct {

    shovel {
        I:shovel=-1
    }

    battleaxe {
        I:axe=-1
    }

    hammer {
        I:pickaxe=-1
    }

    pickaxe {
        I:pickaxe=-1
    }

    lumberaxe {
        I:axe=-1
    }

    hatchet {
        I:axe=-1
    }

    excavator {
        I:shovel=-1
    }

    mattock {
        I:axe=-1
    }

}


thaumcraft {

    itemshovelthaumium {
        I:shovel=5
    }

    itempickthaumium {
        I:pickaxe=5
    }

    itempickvoid {
        I:pickaxe=6
    }

    itemshovelvoid {
        I:shovel=6
    }

    itemaxethaumium {
        I:axe=5
    }

    itemprimalcrusher {
        I:pickaxe=-1
        I:shovel=-1
    }

    itemshovelelemental {
        I:shovel=5
    }

    itemaxevoid {
        I:axe=6
    }

    itempickaxeelemental {
        I:pickaxe=5
    }

    itemaxeelemental {
        I:axe=5
    }

}


thaumictinkerer {

    ichorshovelgem {
        I:shovel=6
    }

    ichorpickgem {
        I:pickaxe=6
    }

    ichorpick {
        I:pickaxe=6
    }

    ichoraxegem {
        I:axe=6
    }

    ichorshovel {
        I:shovel=6
    }

    ichoraxe {
        I:axe=6
    }

}


thermalfoundation {

    tool_sicklecopper {
        I:sickle=0
    }

    tool_shovelnickel {
        I:shovel=3
    }

    tool_shovellead {
        I:shovel=0
    }

    tool_shovelinvar {
        I:shovel=3
    }

    tool_axesilver {
        I:axe=3
    }

    tool_pickaxeplatinum {
        I:pickaxe=6
    }

    tool_axenickel {
        I:axe=3
    }

    tool_shovelbronze {
        I:shovel=3
    }

    tool_axelead {
        I:axe=0
    }

    tool_sickleinvar {
        I:sickle=3
    }

    tool_shovelelectrum {
        I:shovel=0
    }

    tool_axeelectrum {
        I:axe=0
    }

    tool_pickaxeinvar {
        I:pickaxe=3
    }

    tool_sickleelectrum {
        I:sickle=0
    }

    tool_axecopper {
        I:axe=0
    }

    tool_sicklebronze {
        I:sickle=3
    }

    tool_shoveltin {
        I:shovel=0
    }

    tool_pickaxecopper {
        I:pickaxe=0
    }

    tool_pickaxelead {
        I:pickaxe=0
    }

    tool_sickletin {
        I:sickle=0
    }

    tool_axeinvar {
        I:axe=3
    }

    tool_pickaxesilver {
        I:pickaxe=3
    }

    tool_axetin {
        I:axe=0
    }

    tool_pickaxenickel {
        I:pickaxe=3
    }

    tool_shovelsilver {
        I:shovel=3
    }

    tool_pickaxetin {
        I:pickaxe=0
    }

    tool_pickaxeelectrum {
        I:pickaxe=0
    }

    tool_axebronze {
        I:axe=3
    }

    tool_shovelplatinum {
        I:shovel=6
    }

    tool_sicklesilver {
        I:sickle=3
    }

    tool_axeplatinum {
        I:axe=6
    }

    tool_sickleplatinum {
        I:sickle=6
    }

    tool_sicklelead {
        I:sickle=0
    }

    tool_pickaxebronze {
        I:pickaxe=3
    }

    tool_shovelcopper {
        I:shovel=0
    }

    tool_sicklenickel {
        I:sickle=3
    }

}


twilightforest {

    item_fierypick {
        I:pickaxe=6
    }

    item_ironwoodshovel {
        I:shovel=3
    }

    item_knightlypick {
        I:pickaxe=5
    }

    item_steeleafpick {
        I:pickaxe=5
    }

    item_steeleafshovel {
        I:shovel=5
    }

    item_mazebreakerpick {
        I:pickaxe=5
    }

    item_giantpick {
        I:pickaxe=0
    }

    item_ironwoodpick {
        I:pickaxe=3
    }

    item_ironwoodaxe {
        I:axe=3
    }

    item_minotauraxe {
        I:axe=5
    }

    item_steeleafaxe {
        I:axe=5
    }

    item_knightlyaxe {
        I:axe=5
    }

}


witchery {

    kobolditepickaxe {
        I:pickaxe=5
    }

}


